* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #1E1B2E, #2D1E4F);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8F8FF;
}

.container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    animation: fadeIn 0.8s ease-in-out;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h1 span {
    color: #A29BFE;
}

.subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    color: #CFCBFF;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #6C63FF, #4B3FCF);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(108, 99, 255, 0.4);
}

.qr-box {
    margin-top: 25px;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-box img {
    animation: scaleUp 0.4s ease-in-out;
    border-radius: 12px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}

@keyframes scaleUp {
    from { transform: scale(0.8); opacity: 0;}
    to { transform: scale(1); opacity: 1;}
}
.loader {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255,255,255,0.2);
    border-top: 4px solid #A29BFE;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.fade {
    animation: fadeIn 0.4s ease-in-out;
}
.creditos {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 14px;
  color: #b9a7ff; /* roxo claro */
  font-weight: 500;
}
